/*********************** Specification ***********************/
@import url(reset.css);

body{
	font-family: 'Montserrat', sans-serif;
	color: #010101;
}


.container{
	width: 960px;
}
/*********************** HOME ***********************/
.header{
	padding-top: 52px;
	background: #fcdb00;
	padding-bottom: 107px;
}

.nav{
	margin-right: 25px;
}

.nav-link{
	color: #010101;
	font-weight: 700;
	padding-top: 16px;
}

.nav-link:hover{
	color: #313841;
}

.header__title{
	font-size: 32px;
	color: #010101;
	font-weight: 700;
	padding-top: 71px;
	padding-bottom: 27px;
}

.header__description{
	color: #313841;
	padding-bottom: 26px;
}

.header__text{
	color: #555555;
	padding-bottom: 40px;
}

.navigation{
	padding-bottom: 71px;
}

.ipad{
	display: block;
	max-width: 100%;
	height: auto;
	float: right;
	margin-right: 60px;
}
/*********************** FEATURES ***********************/
.features{
	background: #fff;
	padding-top: 106px;
	padding-bottom: 72px;
}

.feat.title{
	text-align: center;
	font-size: 32px;
	color: #010101;
	font-weight: 700;
	padding-bottom: 18px;
}

.feat.description{
	text-align: center;
	font-weight: 500;
	color: #313841;
	font-size: 20px;
	padding-bottom: 84px;
}

.f-1{
	background: url('../img/f-1.png') no-repeat left top;
	padding-bottom: 82px;
}



.elem{
	padding-left: 60px;	
}

.fea__title{
	font-size: 22px;
	font-weight: 500;

	padding-bottom: 16px;
}

.fea__text{
	font-size: 16px;
	font-weight: 500;
	color: #919191;


}

.f-2{
	background: url('../img/f-2.png') no-repeat left top;
	padding-bottom: 82px;
}

.f-3{
	background: url('../img/f-3.png') no-repeat left top;
	padding-bottom: 82px;
}

.f-4{
	background: url('../img/f-4.png') no-repeat left top;
	padding-bottom: 82px;
}

.f-5{
	background: url('../img/f-5.png') no-repeat left top;
	padding-bottom: 82px;
}

.f-6{
	background: url('../img/f-6.png') no-repeat left top;
	padding-bottom: 82px;
}
/*********************** FOOTER ***********************/
.footer{
	background: #010101;
	padding-top: 90px;
	padding-bottom: 100px;
}

.foot.title{
	text-align: center;
	font-size: 32px;
	color: #fcdb00;
	font-weight: 700;
	padding-bottom: 18px;
}

.foot.description{
	text-align: center;
	font-weight: 500;
	color: #717171;
	font-size: 20px;
	padding-bottom: 45px;
}

.email{
	height: 50px;
}

.form-group{
	padding-bottom: 55px;
}

.button{
	height: 50px;
	width: 126px;
	border: none;
	border-radius: 5px;
	background-color: #fcdb00;
}

address{
	text-align: center;
	color: #a3a3a3;
}
/*********************** ADAPTABILITY ***********************/

@media (max-width: 575.98px) {
	.container{
		width: 100%;
	}
	.navigation__logo{
		text-align: center;

	}
	.nav{
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.desc{
		text-align: center;
	}
	.ipad{
		padding-top: 20px;
		margin: 0 auto;
		width: 100%;
	}
	.icon{
		margin: 0 auto;
	}
	.form-group{
		padding-bottom: 25px;
	}
	address{
		padding-top: 20px;
	}
	.header__title{
		padding-top: 40px;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) { 
	.navigation__logo{
		text-align: center;
	}
	.nav{
		justify-content: center;
	}
	h1, h2{
		font-size: 28px;
	}
	.ipad{
		margin-right: 0;
	}
	.header__title{
		padding-top: 0;
		padding-bottom: 20px;
	}
	.header__description{
		padding-bottom: 20px;
	}
	.header__text{
		padding-bottom: 30px;
	}
	.form-group{
		padding-bottom: 25px;
	}
	address{
		padding-top: 20px;
	}
}


@media (min-width: 768px) and (max-width: 991.98px) {
	.navigation__logo{
		text-align: center;
	}
	.nav{
		justify-content: center;
	}
	.ipad{
		margin-right: 0;
	}

	.nav{
		margin-right: 0;
	}
}

